.links-navigation-right {

    text-align: center;

    grid-column: 7;
    grid-row: 4/span 2;
    
    list-style-type: none;
    
    border-left: var(--border-thin);
    border-bottom: var(--border-thin);

    margin: auto;

}

.links-right-uppertext{
    font-size: 1.4em;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.links-right-lowertext{
    padding-bottom: 20px;
    
}