.time{

    display: flex;
    align-items: center;
    text-align: center;

    padding-top: 45px;

    grid-row: 1/span 2;
    grid-column: 4/span 1;

    font-size: 2em;
    writing-mode: vertical-rl;
    text-orientation: mixed;

    border-left: var(--border-thin);
    border-right: var(--border-thin);
    
}